# Byte-compiled / optimized / DLL files
scripts/__pycache__/
scripts/*.py[cod]

scripts/unpaywall_cache

unpaywall_cache
**/.idea/workspace.xml
**/.idea/tasks.xml

_site
.sass-cache
.jekyll-metadata

# exclude everything in ponctual_search_results, but keep dierctory.
data/ponctual_search_results/*
!data/ponctual_search_results/.gitkeep
